<!DOCTYPE html>
{% extends 'navbar.html' %}
{% load static %}
{% block content %}
<script src="{% static '/js/books.js' %}"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<br>

<div class="background-col">
    <div class="container">
        <h1 class="d-flex justify-content-center" style="color: white;">Cari Buku</h1>
    </div>
    <br>
    <div class="jumbotron container">
        <div class="row">
          <div style="margin-left: 30vw;">
            <h5>Cari Disini!</h5>
            <input id="search" placeholder="Judul atau Penulis">
            <button id="button" name="button">Cari</button>
          </div>  
        </div>
        <br>
        <div>
            <table class="table"></table>
        </div>
        </div>
    </div>
  </div>
{% endblock %}