<!DOCTYPE html>
{% extends 'navbar.html' %}
{% load static %}
{% block content %}
	<div class="text-center jumbotron" style="margin: 2vw; background: white">
			<h1>Halo, Apa Kabar?</h1>
			<form method="POST">	
			{% csrf_token %}
			{{ form }}
			<button type="submit" class="save btn btn-outline-dark">Kirim</button>
			</form>
		</div>
	
		<div class="row jumbotron" style="margin-right: 2vw; margin-left: 2vw; background: white">
			{% for status in allstatus %}
			<div class="col-6">
				<h3> {{ status.status }} </h3>
				<h5> {{ status.datetime }} </h5>
			</div>
			{% endfor %}
	</div>
{% endblock %}