<!DOCTYPE html>
{% extends 'navbar.html' %}
{% load static %}
{% block content %}
<script src="{% static '/js/hello.js' %}"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<br>

<div class="box" style="margin-left: 35vw; margin-right: 35vw;">
    <h3 style="text-align: center; padding-top: 0.2vw;" class="font"> Klik untuk Ubah Tema! </h3>
    <div class="d-flex justify-content-center">
        <label class="switch">
            <input type="checkbox" id = "cek">
                <span class="slider"></span>
        </label>
    </div>
</div>

<br>

<div class="jumbotron" style="margin-left: 2vw; margin-right: 2vw;background-color: white;">
    <div class="row">
        <div class="col-3">
            <img src="{% static 'images/khansa.jpg' %}" style="width: 100%; border-radius: 50%; padding-left: 2vw;">
        </div>
        <div class="col-9" style="padding-top: 5vw;">
            <h1 class="font">Khansa Khairunisa Putri</h1>
            <p style="text-align: justify;">
                Halo, namaku Khansa. Aku merupakan anak kedua dari tiga bersaudara.
                Hobiku berenang dan menonton film.
                Aku kuliah di Universitas Indonesia, Fakultas Ilmu Komputer
                Jurusan Sistem Informasi. Aku suka bermain kamera analog,
                karena hasilnya sangat unik dan berbeda dengan kamera digital!
            </p>
        </div>
    </div>
</div>

    <div id="accordion" style="margin: 2vw;">
        <h3 class="hvr" id="aktivitas" style="padding: 1vw; font-family: 'Jomolhari', serif;">Aktivitas</h3>
        <div class="panel" id="isiaktivitas" style="padding: 1vw; height: 0px;">
                <p> Kuliah di Fakultas Ilmu Komputer Universitas Indonesia </p>
        </div>

        <h3 class="hvr" style="padding: 1vw; font-family: 'Jomolhari', serif;">Organisasi/Kepanitiaan</h3>
        <div class="panel">
            <ul style="padding: 2vw;">
                <li class="desc">Visdes CGT</li>
                <li class="desc">Kreatif Educare</li>
                <li class="desc">Fundraising Compfest</li>
            </ul>
        </div>

        <h3 class="hvr" style="padding: 1vw; font-family: 'Jomolhari', serif;">Prestasi</h3>
        <div class="panel" style="padding: 1vw; height: 0px;">
            <p> HEHEHEHEHEHEHE </p>
        </div>
    </div>


<!-- <div class="accordion-container" style="margin: 2vw;">
    <button class="accordion font" id="aktivitas" style="font-size: 24px;">Aktivitas</button>
    <div class="panel" id="isiaktivitas">
        <p style="padding-top: 1vw;"> Kuliah di Fakultas Ilmu Komputer Universitas Indonesia </p>
    </div>

    <button class="accordion font" id="organisasi" style="font-size: 24px;">Organisasi/Kepanitiaan</button>
    <div class="panel">
        <ul style="padding-top: 1vw;">
            <li class="desc">Visdes CGT</li>
            <li class="desc">Kreatif Educare</li>
            <li class="desc">Fundraising Compfest</li>
        </ul>
    </div>

    <button class="accordion font" id="prestasi" style="font-size: 24px;"> Prestasi </button>
    <div class="panel">
        <p style="padding-top: 1vw;"> Kuliah di Fasilkom </p>
    </div>
</div> -->
    
{% endblock %}