body {
    background-image: linear-gradient(-90deg, #534666, #CD7672);
    padding-top: 2vw;
}

h1{
    color: #534666;
}

h3{
    color: #534666;
}

h5{
    color: grey;
}

.box {
    background-color: white;
    opacity: 0.5;
    border-radius: 0.5rem;
}

.font {
    font-family: 'Jomolhari', serif;}

p{
    color: #ca7900;
    font-size: 24px;
    font-family: 'Jomolhari', serif;}

.desc {
    font-size: 24px;
    color: #ca7900;
    font-family: 'Jomolhari', serif;}

.switch {
    position: relative;
    display: inline-block;
    width: 90px;
    height: 40px;
}

.slider {
    position: absolute;
    background-color: #ccc;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: .4s;
    border-radius: 34px; 
}

.switch input {
    display: none;
}

.slider:before {
    position: absolute;
    content: "";
    height: 30px;
    width: 30px;
    left: 5px;
    bottom: 5px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50px; 
}

input:checked + .slider {
    background-color: #534666;
}

input:checked + .slider:before {
    transform: translateX(50px);
}

.hehe {
    background-image: linear-gradient(-90deg, #534666, #CD7672)
}

#accordion {
    background-color: rgb(236, 168, 171);
    cursor: pointer;
    text-align: left;
    border-radius: 0.5vw;
}

.active, .hvr:hover {
    background-color: #FFDCA2;
    border-radius: 0.5vw;
}

.panel {
    background-color: white;
}
  


/* Style the buttons that are used to open and close the accordion panel */
/* .accordion {
    background-color: rgb(236, 168, 171);
    color:black;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}
  
.active, .accordion:hover {
    background-color: #FFDCA2;
}
  
.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.accordion:after {
    content: '\002B';
    color: rgb(21, 90, 99);
    font-weight: bold;
    float: right;
    margin-left: 5px;
}
  
.active:after {
    content: "\2212";
}

 */
