body {
    background-image: linear-gradient(-90deg, #DC8665, #138086);
    padding-top: 2vw;
}

h1{
    color: #138086;
}

h3{
    color: #138086;
}

h5{
    color: grey;
}

.font {
    font-family: 'Jomolhari', serif;
}

p{
    color: #534666;
    font-size: 24px;
    font-family: 'Jomolhari', serif;
}

.desc {
    color: #534666;
    font-size: 24px;
    font-family: 'Jomolhari', serif;
}

.hehe {
    background-image: linear-gradient(-90deg, #DC8665, #138086)
}

#accordion {
    background-color: #534666;
    cursor: pointer;
    text-align: left;
    border-radius: 0.5vw;
}

.active, .hvr:hover {
    background-color: #CD7672;
    border-radius: 0.5vw;
}

.hvr {
    background-color: #534666;
    color: white;
}

.panel {
    background-color: white;
    cursor: pointer;
    text-align: left;
    border-radius: 0.5vw;
    height: 0px;
}


/* .accordion {
    background-color: #534666;
    color:white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}
  
.active, .accordion:hover {
    background-color: #CD7672;
}
  
.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.accordion:after {
    content: '\002B';
    color: #ffe602;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}
  
.active:after {
    content: "\2212";
} */

 /* checkbox */
.switch {
    position: relative;
    display: inline-block;
    width: 90px;
    height: 40px;
}

.slider {
    position: absolute;
    background-color: #ccc;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: .4s;
    border-radius: 34px; 
}

.switch input {
    display: none;
}

.slider:before {
    position: absolute;
    content: "";
    height: 30px;
    width: 30px;
    left: 5px;
    bottom: 5px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50px; 
}

input:checked + .slider {
    background-color: #534666;
}

input:checked + .slider:before {
    transform: translateX(50px);
}

.box {
    background-color: white;
    opacity: 0.5;
    border-radius: 0.5rem;
}