<!DOCTYPE html>
{% extends 'navbar.html' %}
{% load static %}
<title>Simple Auth System</title>
{% block content %}
    <div class="jumbotron" style="margin-top: 10vw; margin-left: 2vw; margin-right: 2vw;background-color: white;">
    <h1 class="d-flex justify-content-center">Welcome Home</h1>
    <div class="d-flex justify-content-center">
        {% if user.is_authencticated %}
            <a href="{% url 'logout_url' %}">Logout</a>
            {% else %}
                <a class="mr-5" href="{% url 'login_url' %}">Login</a>
                <a href="{% url 'register_url' %}">Register</a>
        {% endif %}
    </div>
    </div>
{% endblock %}